input.ops_campo_erro {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
select.ops_campo_erro {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
label.ops_campo_erro {
  color: #a94442;
}
.form-control {
	border-radius:3px !important;
	padding: 0 !important;
	height: 30px !important;
}
.form-control input[type="text"]:focus, select:focus {
  border: 1px solid #33C3F0;
  outline: 0; 
}
.form-horizontal label {
  display: block;
  margin-top: .5rem;
  font-weight: 600; 
}
